.sidebar
  .card.m-2{ style: "width: 18rem;"}
    .card-header
      Featured
    %ul.list-group
      - @squares.each do |square|
        = link_to(square_path(square),class: "sidebar_link") do
          %li.list-group-item.sidebar_link
            = square.name
            .sidebar__dates.sidebar_link
              .sidebar__date--create.sidebar-date
                created:
                = square.created_at.strftime('%Y/%m/%d')
              .sidebar__date--update.sidebar-date
                updated:
                = square.updated_at.strftime('%Y/%m/%d')
