.side_bar
  - if @group.id.nil?
    = link_to(new_group_path) do
      .side_bar__button
        新規作成
  - else
    = link_to(new_user_invitation_path) do
      .side_bar__button
        新規ユーザー招待
    = link_to(edit_group_path(@group.id))do
      .side_bar__button
        編集 / ユーザー追加
