= render "shared/header"
= render "shared/sub_header"

.plans
  .plan_zone
    .card.plan
      .card-body
        %h5.card-title
          練習メニュー名
        %h6.card-subtitle.mb-2.text-muted
          日付
        %p.card-text
          UT 20km

    .card.plan
      .card-body
        %h5.card-title
          日付
        %h6.card-subtitle.mb-2.text-muted
          練習メニュー 名
        %p.card-text
          UT 20km

    .card.plan
      .card-body
        %h5.card-title
          日付
        %h6.card-subtitle.mb-2.text-muted
          練習メニュー 名
        %p.card-text
          UT 20km

    .card.plan
      .card-body
        %h5.card-title
          日付
        %h6.card-subtitle.mb-2.text-muted
          練習メニュー 名
        %p.card-text
          UT 20km

    .card.plan
      .card-body
        %h5.card-title
          日付
        %h6.card-subtitle.mb-2.text-muted
          練習メニュー 名
        %p.card-text
          UT 20km

.diary

