.wrappar
  .header
    .header__title
      Practice
    - if user_signed_in?
      .header__button
        = link_to "signout",destroy_user_session_path,method: "delete"
    - else
      .header__button
        = link_to "signin",new_user_session_path
