%nav.navbar.navbar-dark.bg-dark.mypage_header
  .pull-right
    = link_to "目標管理", "/squares",{class: "ml-3 header_btn_color"}
    = link_to "予定", plans_path,{class: "ml-3 header_btn_color"}
    = link_to "diary", "/diaries",{class: "ml-3 header_btn_color"}
  .pull-left


.space_heder
