@mixin size($height,$width){
  height: $height;
  width: $width;
}

.form_frame{
  margin: 50px 10% 10px 10%;
  @include size(1200px,500px);
}

.login_btn{
 margin-top:10px;
}

.btn{
  margin: 10px;
}

.form-image{
  display: none;
}

.form-group-text{
  font-size: 12px;
}

.form-group--image-filed{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  @include size(240px,240px);
}

.form-group--image-icon{
  font-size: 200px;
  opacity: 0.5;

}
