@mixin size($height,$width){
  height: $height;
  width: $width;
}

.form_frame{
  margin: 50px 10% 10px 10%;
  @include size(1200px,500px);
}

.login_btn{
 margin-top:10px;
}

.btn{
  margin: 10px;
}

.form-group-text{
  font-size: 12px;
}
