@mixin size($height,$width){
  height: $height;
  width: $width;
}

.group{
  display: flex;
  .group__new{
    margin: 20px;
    .group__new--title{
      font-size: 20px;
      font-weight: 600;
    }
    .group__new--name{
      margin-top: 8px;
      .group__new--name-input{
        @include size(40px, 300px);
        border-radius: 4px;
        border: 1px solid #337ab7;
      }
    }
    .group__new--submit{
      margin-top: 8px;
      .group__new--submit-button{
        @include size(30px,100px);
        border-radius: 4px;
        border: 1px solid #337ab7;
        background-color: #337ab7;
        color: #fff;
      }
    }
  }
  &__show{
    margin: 20px;
    &--title{
      font-size: 20px;
      font-weight: 600;
    }
    &--name{
      margin-left: 20px;
    }
    &--sub-title{
      font-size:18px;
    }
    &--user{
      margin-left: 20px;

    }
  }
}


