@mixin size($height,$width){
  height: $height;
  width: $width;
}

.group{
  display: flex;
  &__new{
    margin: 20px;
    &--title{
      font-size: 20px;
      font-weight: 600;
    }
    &--name{
      margin-top: 8px;
      &-input{
        @include size(40px, 300px);
        border-radius: 4px;
        border: 1px solid #337ab7;
      }
    }
    &--submit{
      margin-top: 8px;
      &-button{
        @include size(30px,100px);
        border-radius: 4px;
        border: 1px solid #337ab7;
        background-color: #337ab7;
        color: #fff;
      }
    }
    &--invitation-users{
      margin: 20px 0 0 0;
      &-title{
        font-size: 18px;
        font-weight: 600;
      }
    }
    &--invitation-user{
      display: flex;
      @include size(40px, 300px);
      line-height: 40px;
      border-bottom: 1px solid #337ab7;
      &-name{

      }
      &-input{
        margin-left: auto;
      }
      &-button{
        color: #38aef0;
      }
    }
    &--group-users{
      margin-top: 20px;
      &-title{
        font-size: 18px;
        font-weight: 600;
      }
    }
    .group__new--group-user{
      display: flex;
      @include size(40px, 300px);
      line-height: 40px;
      border-bottom: 1px solid #337ab7;
      &-name{

      }
      &-input{
        margin-left: auto;
      }
      &-button{
        color: #f05050;
        &-return{
          color: #f05050;
        }
      }
    }
    .group__new--delete-users{
      margin: 20px 0;
      &-title{
        font-size: 18px;
        font-weight: 600;
      }
    }
    .group__new--delete-user{
      display: flex;
      @include size(40px, 300px);
      line-height: 40px;
      border-bottom: 1px solid #337ab7;
      &-name{

      }
      &-input{
        margin-left: auto;
      }
      &-button{
        color: #38aef0;
      }
    }
  }
  &__show{
    margin: 20px;
    &--title{
      font-size: 20px;
      font-weight: 600;
    }
    &--box{
      width: 500px;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
    }
    &--flex-box{
      display: flex;
      margin-bottom: 20px;
    }
    &--name{
      margin-left: 20px;
      font-weight: 600;
    }
    &--sub-title{
      width: 130px;
      font-weight: 600;
      font-size:16px;
      text-align: right;
    }
    &--user{
      font-size:16px;
      margin-left: 20px;
      font-weight: 600;
    }
  }
}


