@mixin size($height,$width){
  height: $height;
  width: $width;
}

$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
}
.wrappar{
  width: 100%;

}


.header{
   @include size(72px,100%)
   background-color: #000;
   opacity: 0.7;
   z-index: 200;
   position: fixed;
   display: flex;
  &__title{
    opacity: 1;
    color: white;
    font-size: 30px;
    padding: 10px 0 0 15px;
    z-index: 300;
  }
  &__button{
    margin-top: 15px;
    margin-left: auto;
    margin-right: 20px;
    @include size(40px,80px)
    padding: 6px 12px;
    border: 2px solid white;
    border-radius:4px;
    color: white;
    text-align: center;
    a{
      color: white;
      opacity: 1;
    }
    &:hover{
      background-color: #000;
      a{
        color: white;
      }
    }
  }
  .header__signin--button{
    margin-left: auto;
    margin-right: 20px;
    @include size(22px,50px)
    padding: 6px 12px;
  }
}


.side_bar{
  margin: 20px;
  &__button{
    @include size(48px,244px);
    padding: 12px 20px;
    border: 1px solid #337ab7;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 8px;
  }
  &__title{
    @include size(48px,244px);
    padding: 12px 20px;
    border: 1px solid #337ab7;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    background-color: #337ab7;
    color: #fff;
  }
  &__list{
  }
  &__link{
    @include size(48px,244px);
    padding: 12px 20px;
    border: 1px solid #337ab7;;
    border-top: 0.5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-bottom: -2px;
  }
  &__link--title{
    width: 110px;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__dates{
    font-size: 10px;
  }
  &__date--create{
  }
  &__date--update{

  }
}



.header_color{
  background-color: rgba(105,105,105,0.8);
}

.heder_size{
  font-size: 30px;
}

.header_btn{
  font-size: 15px;
  font-style: none;
}

.header_btn_color{
  color: white;
  font-style: none;
}

.space_header{
  height: 110px;
  width: 100%;

}

.mypage_header{
  padding-top: 76px;

  color: white;
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  z-index: 100;
}

.notification {
  .notice {
    background-color: $light_blue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}

main{
  &__image{
    height:100%;
    width: 100%;
    position: relative;
  }
  &__text{
    font-family:  "YuGothic","Yu Gothic","Meiryo","ヒラギノ角ゴ","sans-serif" ;
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 28%;
    font-size: 60px;
  }
  &__topics{
    display: flex;
    width: 1020px;
    margin:20px auto;
  }
  &__topic{
    width: 300px;
    margin: 0 10px;
    &--image{
      margin: 0 auto;
      width: 140px;
      &-round{
        border-radius: 50%;
        height: 140px;
        width: 140px;
      }
    }
    &--title{
      text-align: center;
      font-size: 30px;
    }
    &--text{
      text-align: center;
      margin-top:8px;
      font-size: 16px;
    }
  }
}






.row{
    margin-top: 50px;
    margin-right:10px;
    margin-left: 10px;
}

.row_images{
  display:flex;
  width: 100%;
  margin: 0 5%;

}

.col-lg-4{
  text-align: center;
}

.image_round{
  text-align: center;
  border-radius: 50%;
  height: 140px;
  width:140px;
}

