
@mixin size($height,$width){
  height: $height;
  width: $width;
}

.sidebar{
  z-index: -1;
}
.sidebar__dates{
  float: right;
}

.sidebar-date{
  font-size: 5px;

}

.sidebar_link{
  text-decoration: none;
}

.square__main{
  margin: 0 auto;
  display: flex;

  &--sidebar{
    @include size(296px,auto);
    z-index: 0;
  }
  &--square{
    @include size(785px,auto);
    margin: 10px;

  }
}


.square{
  margin-top: 10px;
  height: auto;

  width: 643px;
}

.square__name{
  border-radius: 4px;
  border: 1px solid #337ab7;
  margin: 8px 0;
  padding: 0 4px;
}

.square_parent{
  @include size(212px,212px);
  float: left;
  border: 1px solid #337ab7;
}

.square_child{
  @include size(70px,70px);
  float: left;
}
.square_child-input{
  border: 1px solid #337ab7;
  padding: 2px;
  @include size(70px,70px);

  resize: none;
}
.square_child-text{
  border: 1px solid #337ab7;
  padding: 2px;
  @include size(70px,70px);
}

.square__button--submit{
  height: 40px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #dc3545;
  background-color: #dc3545;
  color: #fff;
}
.square__button{
  margin: 8px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #dc3545;
  background-color: #dc3545;
  color: #fff;
}
